/* makes html scroll smooth */
html {
    scroll-behavior: smooth;
    background-color: #082032;
    font-family: 'Courier New', Courier, monospace;
    color: #FF4C29;
  }
   /* unvisited link */
a:link {
  color: #548CA8;
}

/* visited link */
a:visited {
  color: #548CA8;
}

/* mouse over link */
a:hover {
  color: #334756;
}

/* selected link */
a:active {
  color: #FF4C29;
} 

ul.ba {
  list-style-type: none;
}
/* changes font size and color of developer_name */
.developer_name {
  font-size: 50px;
  
}
/* changes font size and color of letqin */
.letqin {
  font-size: 35px;
  color: #EEEEEE;
}
/* selects the links section but grid does not work */
.links ul li {
  display: grid;
  grid-column-start: 4 / span 3;
}
/* about me */
.about_me_p {
  text-align: center;
}